<!doctype html>
{% extends 'assignment5/base.html' %}
{% load static %}

        <title>
            {% block title %}
                Wedding HTML-5 Template
            {% endblock %} 
        </title>
        

    {% block content %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2  hero-overly d-flex align-items-center" data-background="{% static 'assignment5/assets/img/hero/about_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Our Story</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Our Story Start -->
        <div class="Our-story-area story-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="story-img mb-100">
                             <img src="{% static 'assignment5/assets/img/our_story/story-img.jpg' %}" class="story-imges" alt="">
                             <!-- shape flower -->
                             <div class="shape-flower-img">
                                <img src="{% static 'assignment5/assets/img/our_story/flower_top.png' %}" class="flower-top" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="story-caption">
                            <img src="{% static 'assignment5/assets/img/our_story/flower_right.png' %}" alt="">
                            <h3>Our Story</h3>
                            <p class="story1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="story2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shape -->
            <div class="shape-flower d-none d-xl-block">
                <img src="{% static 'assignment5/assets/img/our_story/shape_left.png' %}" class="flower1" alt="">
                <img src="{% static 'assignment5/assets/img/our_story/shape_right.png' %}" class="flower2 " alt="">
            </div>
        </div>
        <!-- Our Story Ende -->
        <!-- Gift Start -->
        <div class="gift-area gift-padding gift-overly" data-background="{% static 'assignment5/assets/img/memories/gft.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class=" offset-lg-1 col-12">
                        <div class="gift-caption">
                            <h2>The Best Gift</h2>
                            <p>Will be your bresentation</p>
                            <a href="#" class="btn">R.S.V.P</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gift End -->
        <!-- our Memories start -->

        <div class="our-memories-area section-padding2">
            <div class="container">
                <!-- section tittle -->
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <img src="{% static 'assignment5/assets/img/memories/section_tittle_flowre.png' %}" alt="">
                            <h2>OUR MEMORIES</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories1.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories1.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories2.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories2.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories3.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories3.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories4.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories4.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories5.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories5.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="{% static 'assignment5/assets/img/memories/memories2.jpg' %}" alt="">
                                <div class="menorie-icon" href="{% static 'assignment5/assets/img/memories/memories2.jpg' %}">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                </div>
            </div>
            <!-- Shape Img -->
            <div class="memories-shape d-none d-xl-block">
                <img src="{% static 'assignment5/assets/img/memories/left-img.png' %}" class="memories-shape1" alt="">
                <img src="{% static 'assignment5/assets/img/memories/right-img.png' %}" class="memories-shape2" alt="">
            </div>
        </div>
        <!-- our Memories End-->

        <!-- ================ Map ================= -->
        <section class="contact-sections">
            <div class="d-area">
                <div id="map" style="height: 500px; position: relative; overflow: hidden;"></div>
                <script>
                    function initMap() {
                        var uluru = {
                            lat: -25.363,
                            lng: 131.044
                        };
                        var grayStyles = [{
                                featureType: "all",
                                stylers: [{
                                        saturation: -90
                                    },
                                    {
                                        lightness: 50
                                    }
                                ]
                            },
                            {
                                elementType: 'labels.text.fill',
                                stylers: [{
                                    color: '#ccdee9'
                                }]
                            }
                        ];
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {
                                lat: -31.197,
                                lng: 150.744
                            },
                            zoom: 9,
                            styles: grayStyles,
                            scrollwheel: false
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
                </script>
            </div>
        </section>
         <!-- ================ Map ================= -->

         <div class="brand-area section-padding2">
            <div class="container">
                 <!-- section tittle -->
                 <div class="row ">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <img src="{% static 'assignment5/assets/img/memories/section_tittle_flowre.png' %}" alt="">
                            <h2>OUR LOVELY PARTNERS</h2>
                        </div>
                    </div>
                </div>
                <div class="brand-active brand-border">
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand1.jpg' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand2.jpg' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand3.jpg' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand4.jpg' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand5.jpg' %}" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="{% static 'assignment5/assets/img/service/brand3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

    </main>
    {% endblock %}
   
   
